@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-primary: #0cb8b6;
  --color-para: #44444464;
  --color-darkGray: #444444;
 

  /* Custom Screens */
  --breakpoint-xs: 480px;
  /* ----breakpoint-xs: 480; */

  /* Custom Fonts */
   --font-montserrat: 'Montserrat', sans-serif;

  /* Custom Gradients */
  /* --gradient-dropDownBg: linear-gradient(90deg, rgba(0, 254, 181, 0.3) 0%, rgba(0, 254, 181, 0) 100%); */

  /* Custom Shadows */
  /* --shadow-glow: 0 0 15px 5px rgba(147, 255, 184, 0.7); */
}
 







 